$main-color: hsl(160deg 83% 40%);
$second-color: hsl(71deg 74% 52%);
$accent-color: hsl(52deg 100% 52%);

/* text colors */
$text-color: hsl(0deg 0% 14%);
$text-color-white: #fff;

/* background colors */
$bg-main-color: #fff;
$bg-accent-color: hsl(353deg 72% 71%);
