@import "./form--note";
@import "./form--error";
@import "./form--error-msg";

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-margin-top: 50rem;
}

.form label {
  margin-bottom: 2.7rem;
}
