form(class='form' name='signup' id='form-signup' action='/' method='post')
  label
    span(class='visually-hidden') Email
    input(class='input' type='email' inputmode='email' placeholder='Enter your email' name='email' required)
  button(class='btn' type='submit') 
    span(class='btn--text') Sign up
  p(class='form--note'). 
    By signing up I agree to the terms of the <a href='#' title='Privacy Policy'>Privacy Policy</a>