header(class='header')
  include ../logo/logo.pug
  h1(class='heading') Домашние простые рецепты
  p(class='header--tagline') Собирайте рецепты в recipe box
  a(class='btn' href='#form-signup' onclick='event.preventDefault(); window.scrollTo(0,document.body.scrollHeight);')
    span(class='btn--text') Присоединиться<br>к сообществу